# Python
__pycache__/
*.pyc
*.pyo
.env
venv/

# Jupyter
.ipynb_checkpoints/

# Modelos y datos pesados
*.pkl
*.h5
*.pt
*.pth

# Datos
data/
datasets/

# Credenciales
*.key
secrets.json
.env

# IDEs
.vscode/
.idea/